div#outer\ div\ element {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 2% 5% 3% 5%;
    justify-content: space-around;
}

#orderedbooks {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    margin: 2% 5% 3% 5%;
    justify-content: space-around;
}

.list-group-item{
    border:none !important;
}

#input {
    width: 50px;
    height: 38px;
}
#addprodalert {
    width: 95%;
}