#address{
    display: flex;
    flex-direction: column;
    
}
#addressOne{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
   padding: 1rem;
}
#addressTwo{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    padding: 1rem;
    
}

#orderNumber{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
}
#orderNumberReturn{
    display: flex;
justify-content: center;
padding: 2rem;
background-color: aqua;
}